
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AnaSayfa</h2>
<meta charset="utf-8" />
@foreach (var item in ViewBag.ilan)
{

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/İmages/" class="img-circle img-responsive"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>İlan Veren:</td>
                                            <td>@item.kullanici.kullaniciAdSoyad</td>
                                        </tr>

                                        <tr>
                                            <td>Başlık:</td>
                                            <td>@item.ilanBaslik</td>
                                        </tr>
                                        <tr>
                                            <td>Fiyat:</td>
                                            <td>@item.ilanFiyat</td>
                                        </tr>
                                        <tr>
                                            <td>Tarih:</td>
                                            <td>@item.tarih</td>
                                        </tr>
                                        <tr>
                                            
                                            <td>Kategori:</td>
                                            <td>@item.kategori.kategoriAd</td>
                                        </tr>
                                        <tr>
                                            <td>Durum:</td>
                                            <td>@item.islem.islemAd</td>
                                        </tr>
                                        <tr>
                                            <td>Detay:</td>

                                            <td>@Html.ActionLink("Detay", "Details", new { id = item.ilanID })</td>
                                        </tr>
                              
                                        <tr>
                                            <td>Sil:</td>

                                            <td>@Html.ActionLink("Sil", "Delete", new { id = item.ilanID })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


